<section class="content-header">
    <h1>
        Quiz
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-hourglass-start"></i>General</a></li>
        <li class="active">Quiz</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-header">
            <h2 class="box-title">Category: <b>Everyday Vocabulary</b></h2>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-success">
                        <center>
                            <h1 style="text-align:center;font-weight: bold;color:red">grandeur</h1>
                            <h2>(Noun)</h2>
                            <br>
                        </center>
                        <div style="background-color:#e6e5ea; padding:15px;">
                            <h4>English:</h4>
                            <h2 style="text-align:center;">impressive beauty, power, or size</h2>
                            <h4>Mongolia:</h4>
                            <h2 style="text-align:center;">сүр жавхлан, эрхэмсэг</h2>
                            <h4>Examples:</h4>
                            <h2 style="text-align:center">It is foreign domesticity and local grandeur.</h2>
                        </div>
                        <br>
                        <div class="box-fooder">
                            <a class="btn btn-app btn-flat">
                                <i class="fa fa-repeat"></i> Difficult
                            </a>
                            <a class="btn btn-app btn-flat pull-right">
                                <i class="fa fa-star"></i> Easy
                            </a>

                            <br>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>