<section class="content-header">
    <h1>
        Vocabulary
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-mortar-board "></i>General</a></li>
        <li class="active">Vocabulary</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-2">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Search</h3>
                            <div class="box-tools">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <div class="nav nav-pills nav-stacked">
                                <div class="form-group">
                                    <select class="form-control input-sm" style="color:dimgray">
                                        <option>[Categories]</option>
                                        <option>1 - IELTS Vocabulary</option>
                                        <option>2 - Academic Vocabulary</option>
                                        <option selected>3 - Everyday Vocabulary</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" placeholder="Vocabulary" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" placeholder="EnglishDescription" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" placeholder="MongolianDescription" />
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" value="" placeholder="Example">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" value="" placeholder="Synonym">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-sm" value="" placeholder="WordType">
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div>
            </div>

        </div><!-- /.col -->
        <div class="col-md-10">
            <div class="box box-primary">

                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                        <div class="col-md-6">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Search">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <input type="button" class="btn btn-primary btn-sm btn-flat" value="New Vocabulary"
                                data-toggle="modal" data-target="#modal-vocab" />

                    </div>
                    <div class="table-responsive mailbox-messages" style="height:400px;">
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr>
                                    <th>Vocabulary</th>
                                    <th>EnglishDescription</th>
                                    <th>MongolianDescription</th>
                                    <th>Example</th>
                                    <th>Synonym</th>
                                    <th>WordType</th>
                                    <th style="width:100px">Action</th>
                                </tr>
                                <tr>
                                    <td>refinement</td>
                                    <td>improvement</td>
                                    <td>сайжруулалт, боловсруулалт</td>
                                    <td>The new model has a number of refinements.</td>
                                    <td>improvement, change</td>
                                    <td>Noun</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs">Action</button>
                                            <button type="button" class="btn btn-default dropdown-toggle btn-xs"
                                                data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">
                                                        <h6>Edit</h6>
                                                    </a></li>
                                                <li><a href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>grandeur</td>
                                    <td>impressive beauty, power, or size</td>
                                    <td>сүр жавхлан, эрхэмсэг</td>
                                    <td>It is foreign domesticity and local grandeur.</td>
                                    <td>greatness</td>
                                    <td>Noun</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs">Action</button>
                                            <button type="button" class="btn btn-default dropdown-toggle btn-xs"
                                                data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">
                                                        <h6>Edit</h6>
                                                    </a></li>
                                                <li><a href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>civilization</td>
                                    <td>human society, its organization and culture</td>
                                    <td>соёл иргэншил, соёлт ертөнц</td>
                                    <td>modern American civilization</td>
                                    <td>civilized</td>
                                    <td>Noun</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs">Action</button>
                                            <button type="button" class="btn btn-default dropdown-toggle btn-xs"
                                                data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">
                                                        <h6>Edit</h6>
                                                    </a></li>
                                                <li><a href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>industrious</td>
                                    <td>Hardworking</td>
                                    <td>ажилсаг</td>
                                    <td>Most of the students I knew at college were serious and industrious.</td>
                                    <td>hard-working</td>
                                    <td>Adj</td>
                                    <td>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs">Action</button>
                                            <button type="button" class="btn btn-default dropdown-toggle btn-xs"
                                                data-toggle="dropdown">
                                                <span class="caret"></span>
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">
                                                        <h6>Edit</h6>
                                                    </a></li>
                                                <li><a href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table><!-- /.table -->
                    </div><!-- /.mail-box-messages -->

                </div><!-- /.box-body -->
                <div class="box-footer no-padding">
                    <div class="mailbox-controls">


                        <div class="pull-right clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#"><b>1</b></a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div><!-- /.pull-right -->
                    </div>
                </div>
            </div><!-- /. box -->
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="modal fade" id="modal-vocab" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span></button>
                        <h4 class="modal-title">Vocabulary</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Category</label>    
                                    <div class="col-sm-9">
                                        <input type="email" value="Everyday Vocabulary" disabled="disabled" class="form-control" id="inputEmail3" placeholder="Type Name">
                                    </div>
                                </div>    
                                <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Vocabulary</label>    
                                        <div class="col-sm-9">
                                            <input type="email" value="simultaneous" class="form-control" id="inputEmail3" placeholder="Type Name">
                                        </div>
                                </div>   
                                <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">EnglishDescription</label>    
                                        <div class="col-sm-9">
                                            <input type="email" value="happening at the same time" class="form-control" id="inputEmail3" placeholder="Type Name">
                                        </div>
                                </div> 
                                <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">MongolianDescription</label>    
                                        <div class="col-sm-9">
                                            <input type="email" value="нэгэн зэрэг " class="form-control" id="inputEmail3" placeholder="Type Name">
                                        </div>
                                </div>   
                                <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Example</label>    
                                        <div class="col-sm-9">
                                            <input type="email" value="simultaneous translation" class="form-control" id="inputEmail3" placeholder="Type Name">
                                        </div>
                                </div>  
                                <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Synonym</label>    
                                        <div class="col-sm-9">
                                            <input type="email" value="" class="form-control" id="inputEmail3" placeholder="">
                                        </div>
                                </div>        
                                <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">WordType</label>    
                                        <div class="col-sm-9">
                                            <input type="email" value="Adj" class="form-control" id="inputEmail3" placeholder="">
                                        </div>
                                </div>   
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left btn-flat" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary btn-flat">Save</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
</section>